<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB<title>
</head>
    </body>
        <H1>States</H1>
        <ul>

            <li>421a55f4-7d82-47d9-b54c-a76916479545: <B>Alabama</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479545: <B>Akron</B></li>

                        <li>531a55f4-7d82-47d9-b54c-a76916479545: <B>Bablie</B></li>

                        <li>541a55f4-7d82-47d9-b54c-a76916479545: <B>Calera</B></li>

                        <li>551a55f4-7d82-47d9-b54c-a76916479545: <B>Flirlield</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479546: <B>Arizona</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479546: <B>Douglas</B></li>

                        <li>531a55f4-7d82-47d9-b54c-a76916479546: <B>Kearny</B></li>

                        <li>541a55f4-7d82-47d9-b54c-a76916479546: <B>Tempe</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479547: <B>California</B>
                <ul>

                        <li>541a55f4-7d82-47d9-b54c-a76916479547: <B>Fremont</B></li>

                        <li>551a55f4-7d82-47d9-b54c-a76916479547: <B>Napa</B></li>

                        <li>521a55f4-7d82-47d9-b54c-a76916479547: <B>San Franlisco</B></li>

                        <li>531a55f4-7d82-47d9-b54c-a76916479547: <B>San Jose</B></li>

                        <li>561a55f4-7d82-47d9-b54c-a76916479547: <B>Sonoma</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479548: <B>Colorado</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479548: <B>Denver</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479549: <B>Florida</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479549: <B>MiaMi</B></li>

                        <li>531a55f4-7d82-47d9-b54c-a76916479549: <B>Orlando</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479550: <B>Georgia</B>
                <ul>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479551: <B>Hawaii</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479551: <B>Honolulu</B></li>

                        <li>531a55f4-7d82-47d9-b54c-a76916479551: <B>Kailua</B></li>

                        <li>541a55f4-7d82-47d9-b54c-a76916479551: <B>Pearl City</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479552: <B>Illinois</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479552: <B>CHicago</B></li>

                        <li>561a55f4-7d82-47d9-b54c-a76916479552: <B>Joliet</B></li>

                        <li>541a55f4-7d82-47d9-b54c-a76916479552: <B>Naperville</B></li>

                        <li>531a55f4-7d82-47d9-b54c-a76916479552: <B>Peoria</B></li>

                        <li>551a55f4-7d82-47d9-b54c-a76916479552: <B>Urbana</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479553: <B>Indiana</B>
                <ul>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479554: <B>Louisiana</B>
                <ul>

                        <li>531a55f4-7d82-47d9-b54c-a76916479554: <B>Baton rouge</B></li>

                        <li>541a55f4-7d82-47d9-b54c-a76916479554: <B>Lafayette</B></li>

                        <li>521a55f4-7d82-47d9-b54c-a76916479554: <B>New Orleans</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479555: <B>Minnesota</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479555: <B>Saint Paul</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479556: <B>Mississipi</B>
                <ul>

                        <li>521a55f4-7d82-47d9-b54c-a76916479556: <B>Jackson</B></li>

                        <li>541a55f4-7d82-47d9-b54c-a76916479556: <B>Meridian</B></li>

                        <li>531a55f4-7d82-47d9-b54c-a76916479556: <B>Tupelo</B></li>

                </ul>
            </li>

            <li>421a55f4-7d82-47d9-b54c-a76916479557: <B>Oregon</B>
                <ul>

                        <li>531a55f4-7d82-47d9-b54c-a76916479557: <B>Eugene</B></li>

                        <li>521a55f4-7d82-47d9-b54c-a76916479557: <B>Portland</B></li>

                </ul>
            </li>

        </ul>
    </body>
</html>